package ui

import "github.com/WannaFight/gochat/ui/components"

templ RegisterForm() {
	@Base() {
		@components.UserForm("/api/v1/users", "Create account") {
			<div class="has-text-centered">
				<a href="login">Already have an account? Sign In</a>
			</div>
		}
	}
}
